@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=League+Spartan:wght@100;700&family=Orbitron:wght@400;500;600;700;800;900&family=Outfit:wght@100&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=IM+Fell+Great+Primer:ital@0;1&family=Nothing+You+Could+Do&family=Roboto:wght@100&family=Rock+Salt&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Bungee+Shade&family=IM+Fell+Great+Primer:ital@0;1&family=Nothing+You+Could+Do&family=Roboto:wght@100&family=Rock+Salt&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Remove padding from ul, ol */
ul,
ol {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FONT SIZE */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

body {
  font-family: "Akshar", sans-serif;
  background-color: var(--background-color);
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

body #root {
  position: relative;
  z-index: 0;
}

body #root .App {
  position: relative;
  z-index: 0;
}

.mobile-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3.5rem;
  -webkit-animation: rotate 1.75s ease-in-out infinite;
          animation: rotate 1.75s ease-in-out infinite;
  aspect-ratio: 1;
}

@media (min-width: 770px) {
  .mobile-logo {
    display: none;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.dark-mode {
  color: white;
  position: fixed;
  top: 3rem;
  right: 1.25rem;
  cursor: pointer;
  font-size: 1.75rem;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 11;
}

.dark-mode:hover {
  color: var(--hover);
}

:root {
  --background-color: #1a1a1d;
  --nav-background: #1a1a1d;
  --nav-font: #4e4e50;
  --icon: #c3073f;
  --font: #f4f4f4;
  --hover: #f60950;
  --item-background: #c3073f;
  --h3: white;
  --tech: white;
  --btn: white;
  --footer-a: #6f2232;
  --greet-h1: #950740;
  --greet-span: #c3073f;
  --greet-p: #4e4e50;
}

.light-theme {
  --background-color: #e3e2df;
  --nav-background: #a27b5c;
  --nav-font: #2c3639;
  --icon: rgba(208, 44, 74);
  --font: black;
  --hover: #5d001e;
  --item-background: #c3073f;
  --h3: black;
  --tech: white;
  --btn: white;
  --footer-a: #6f2232;
  --greet-h1: #ee4c7c;
  --greet-span: rgba(245, 49, 78);
  --greet-p: black;
}

@-webkit-keyframes negative-slider {
  0% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
  25% {
    border-radius: 40px;
  }
  50% {
    left: 67%;
    border-radius: 40px 0 0 40px;
  }
  75% {
    border-radius: 40px;
  }
  100% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
}

@keyframes negative-slider {
  0% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
  25% {
    border-radius: 40px;
  }
  50% {
    left: 67%;
    border-radius: 40px 0 0 40px;
  }
  75% {
    border-radius: 40px;
  }
  100% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
}

@media (min-width: 768px) {
  .reveal {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

.horizontal {
  width: 100%;
  padding-inline: 15px;
  top: -100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 2;
  font-family: "League Spartan", sans-serif;
}

.horizontal .horizontal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.horizontal .horizontal-container img {
  width: 3rem;
  margin-left: 1rem;
  animation: rotate 1.75s ease-in-out infinite;
  -webkit-animation: none;
}

.horizontal .horizontal-container .close {
  display: none;
}

.horizontal .horizontal-container .links > ul > li,
.horizontal .horizontal-container a {
  margin-inline: 20px;
  font-size: 1.25rem;
  text-decoration: none;
  padding: 10px;
  color: var(--font);
  list-style: none;
  display: inline;
  cursor: pointer;
  line-height: normal;
}

.horizontal .horizontal-container .links > ul > li:hover,
.horizontal .horizontal-container a:hover {
  color: var(--hover);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.horizontal .horizontal-container .links > ul > li.resume,
.horizontal .horizontal-container a.resume {
  border: 1px solid;
  border-radius: 10px;
  color: var(--hover);
}

.horizontal .horizontal-container .links > ul > li.resume:hover,
.horizontal .horizontal-container a.resume:hover {
  background-color: rgba(246, 9, 80, 0.25);
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}

@media (max-width: 768px) {
  .horizontal .horizontal-container .links > ul > li,
  .horizontal .horizontal-container a {
    display: block;
  }
}

@media (max-width: 768px) {
  .horizontal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 2;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    overflow: hidden;
  }
  .horizontal .horizontal-container {
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 0;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: var(--nav-background);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .horizontal .horizontal-container img {
    margin: initial;
    width: 7rem;
  }
  .horizontal .horizontal-container .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.vertical {
  position: fixed;
  left: calc(1rem + 5px);
  bottom: 9rem;
  z-index: 2;
}

.vertical .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vertical .icon span {
  margin-block: 1.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--nav-font);
}

.vertical .icon span:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.vertical .icon span a {
  color: var(--nav-font);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.vertical .icon span a:visited {
  color: var(--nav-font);
}

.vertical .icon span a:hover {
  color: var(--hover);
}

.vertical::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 7.5rem;
  background-color: white;
  bottom: -9rem;
  left: 0.5rem;
}

@media (max-width: 768px) {
  .vertical {
    display: none;
  }
}

.show {
  opacity: 1;
  display: block;
  background-color: rgba(26, 26, 29, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.slide {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.slide-back {
  -webkit-transform: translateX(100%) !important;
          transform: translateX(100%) !important;
}

@media (min-width: 768px) {
  .slide-back {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
}

.blur {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(26, 26, 29, 0.9);
  top: -3px !important;
  -webkit-box-shadow: 0 3px 5px 0 black;
          box-shadow: 0 3px 5px 0 black;
}

.bar {
  color: var(--font);
  position: fixed;
  right: 0.5rem;
  top: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 3;
}

.bar:hover {
  color: var(--hover);
}

@media (min-width: 768px) {
  .bar {
    display: none;
  }
}

.about-me {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  height: 100vh;
}

@media (min-width: 765px) {
  .about-me {
    margin-top: 7.5rem;
  }
}

@media (min-width: 1025px) {
  .about-me {
    margin-top: initial;
  }
}

.about-me .intro {
  margin-bottom: 2rem;
}

.about-me .intro .greet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about-me .intro .greet h1 {
  mix-blend-mode: difference;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Kaushan Script", cursive;
  color: var(--greet-h1);
}

.about-me .intro .greet h1 span {
  font-family: "League Spartan", sans-serif;
  -webkit-text-decoration: underline var(--greet-span);
          text-decoration: underline var(--greet-span);
  color: var(--h3) !important;
}

.about-me .intro strong {
  color: var(--icon);
}

.about-me .intro h1 {
  font-size: 3rem;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  width: 100%;
}

@media (min-width: 768px) {
  .about-me .intro h1 {
    font-size: 8rem;
  }
}

.about-me .intro p {
  font-size: 2rem;
  color: var(--greet-p);
  font-family: "Orbitron", sans-serif;
}

.about-me img {
  border: 5px dotted;
  width: 20rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

@media (min-width: 1024px) {
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main {
  color: var(--font);
  clear: right;
  padding-inline: 0.5rem;
  position: relative;
  z-index: 1;
  position: relative;
  z-index: 1;
}

@media (min-width: 769px) {
  main {
    width: 85vw;
    margin-inline: auto;
  }
}

main > div + div {
  margin-block: 3.5rem;
}

main .my-skills h2 {
  font-family: "League Spartan", sans-serif;
}

main .my-skills h3 {
  font-family: "League Spartan", sans-serif;
}

main .my-skills p {
  font-family: "League Spartan", sans-serif;
}

main .my-skills .tools ul li {
  display: inline;
  margin-right: 1.5rem;
  font-size: 1.5rem;
}

main .my-skills .tools ul .tool {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
}

main .my-skills .tools ul .html:hover {
  color: #cc5533;
}

main .my-skills .tools ul .css:hover {
  color: #2f4ad5;
}

main .my-skills .tools ul .javascript:hover {
  color: #e5d565;
}

main .my-skills .tools ul .sass:hover {
  color: #ba6993;
}

main .my-skills .tools ul .github:hover {
  color: black;
}

main .my-skills .tools ul .react:hover {
  color: #7ed0ef;
}

main .my-skills .tools ul .bootstrap:hover {
  color: #4f3c74;
}

main .my-portfolio {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

main .my-portfolio h2 {
  font-size: 3rem;
  font-family: "League Spartan", sans-serif;
}

main .my-portfolio p {
  line-height: 1.4;
  font-family: "League Spartan", sans-serif;
}

main .my-portfolio .container {
  margin-block: 1.5rem;
  padding: 0.5rem 3rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-rows: (20rem)[3];
      grid-template-rows: repeat(3, 20rem);
}

main .my-portfolio .container article {
  position: relative;
  font-family: "Orbitron", sans-serif;
}

main .my-portfolio .container article .image {
  height: 100%;
}

main .my-portfolio .container article .image img {
  height: 100%;
}

main .my-portfolio .container article .about-project {
  position: absolute;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
  color: #657b81;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

main .my-portfolio .container article .about-project h3 {
  color: var(--h3);
}

main .my-portfolio .container article .about-project p {
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
}

main .my-portfolio .container article .about-project span {
  position: absolute;
  bottom: 1.5rem;
}

main .my-portfolio .container article .about-project span ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

main .my-portfolio .container article .about-project span ul li {
  color: var(--tech);
  font-size: 0.6rem;
  border: 1px solid #c3073f;
  padding: 5px;
  border-radius: 20px;
}

@media (min-width: 768px) {
  main .my-portfolio .container article .about-project span ul {
    margin-top: 2rem;
  }
}

main .my-portfolio .container article .about-project .btns {
  position: absolute;
  bottom: 3px;
  left: 3px;
}

main .my-portfolio .container article .about-project .btns button {
  background: none;
  border: none;
  color: var(--btn);
  font-size: 1rem;
  cursor: pointer;
}

main .my-portfolio .container article .about-project .btns button:hover {
  color: var(--hover);
}

main .my-portfolio .container article .about-project .btns button:hover * {
  color: var(--hover);
}

main .my-portfolio .container article .about-project .btns button a:visited {
  color: white !important;
}

@media (min-width: 768px) {
  main .my-portfolio .container {
    -ms-grid-rows: (30rem)[3];
        grid-template-rows: repeat(3, 30rem);
    gap: 2.5rem;
  }
  main .my-portfolio .container article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (1fr)[5];
        grid-template-rows: repeat(5, 1fr);
    position: relative;
    padding: 0.5rem;
    z-index: 1;
  }
  main .my-portfolio .container article .about-project {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / 5;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    margin-left: 1.5rem;
    background: none;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  main .my-portfolio .container article .about-project p {
    background: rgba(0, 0, 0, 0.8);
  }
  main .my-portfolio .container article .about-project p a:hover {
    color: #c3073f;
  }
  main .my-portfolio .container article .about-project span {
    position: relative;
  }
  main .my-portfolio .container article .about-project .btns {
    position: relative;
  }
  main .my-portfolio .container article .image {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  main .my-portfolio .container article .image .filter {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(195, 7, 63, 0.5);
    -webkit-transition: all 0.3s ease 0.15s;
    transition: all 0.3s ease 0.15s;
  }
  main .my-portfolio .container article .image img {
    width: 100%;
  }
  main .my-portfolio .container article .image:hover {
    z-index: 4;
  }
  main .my-portfolio .container article .image:hover .filter {
    background-color: rgba(195, 7, 63, 0);
  }
  main .my-portfolio .container article.note .about-project {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5 / 8;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  main .my-portfolio .container article.note .image {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.modal {
  position: fixed;
  overflow: hidden;
}

.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

footer {
  margin-block: 3rem;
}

footer div.social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer div.social-media ul li a {
  font-size: 1.75rem;
  color: var(--footer-a);
}

footer div.social-media ul li a:hover {
  color: var(--hover);
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

footer div.social-media ul li + li {
  margin-left: 3rem;
}

@media (min-width: 769px) {
  footer div.social-media {
    display: none;
  }
}

footer div.credit {
  text-align: center;
}

footer div.credit a {
  color: var(--nav-font);
  text-decoration: none;
}

footer div.credit a:hover {
  color: var(--hover);
}

footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  padding-block: 1.5rem;
}

footer .contact h2 {
  color: var(--h3);
}

footer .contact a {
  border: 1px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid;
  border-radius: 10px;
  color: var(--hover);
  padding: 1rem 2rem;
}

footer .contact a:hover {
  background-color: rgba(246, 9, 80, 0.25);
  -webkit-transition: background-color 0.15s linear;
  transition: background-color 0.15s linear;
}
/*# sourceMappingURL=main.css.map */