main {
  color: var(--font);
  clear: right;
  padding-inline: 0.5rem;
  position: relative;
  z-index: 1;
  @media (min-width: 769px) {
    width: 85vw;
    margin-inline: auto;
    margin-top: calc(68px + 0.5rem);
  }
  & > div + div {
    margin-block: 3.5rem;
  }
  position: relative;
  z-index: 1;
  .my-skills {
    h2 {
      font-family: "League Spartan", sans-serif;
    }
    h3 {
      font-family: "League Spartan", sans-serif;
    }
    p {
      font-family: "League Spartan", sans-serif;
    }
  }
  .my-portfolio {
    h2 {
      font-size: 3rem;
      font-family: "League Spartan", sans-serif;
    }
    p {
      line-height: 1.4;
      font-family: "League Spartan", sans-serif;
    }
    // transform: translateY(150px);
    // opacity: 0;
    transition: all 2s ease;
    .container {
      margin-block: 1.5rem;
      padding: 0.5rem 1rem;
      @media (min-width: 500px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.5rem;
        .weather {
          grid-column: 1 / 3;
          grid-row: 1 / 2;
        }
        .note {
          grid-column: 3 / -1;
          grid-row: 1 / 2;
        }
        .ecommerce {
          grid-column: 2 / 4;
          grid-row: 2 / -1;
        }
      }
      article {
        border: 1px solid yellow;
        position: relative;
        font-family: "Orbitron", sans-serif;
        .about-project {
          position: absolute;
          padding: 0.5rem;
          width: 100%;
          height: 100%;
          background: rgba(black, 0.8);
          .btns {
            position: absolute;
            bottom: 3px;
            left: 3px;
            button {
              background: none;
              border: none;
              color: white;
              font-size: 1.5rem;
              cursor: pointer;
              &:hover {
                color: var(--hover);
                * {
                  color: var(--hover);
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  overflow: hidden;
}

.active {
  transform: translateY(0);
  opacity: 1;
}
