main {
  color: var(--font);
  clear: right;
  padding-inline: 0.5rem;
  position: relative;
  z-index: 1;
  @media (min-width: 769px) {
    width: 85vw;
    margin-inline: auto;
  }
  & > div + div {
    margin-block: 3.5rem;
  }
  position: relative;
  z-index: 1;
  .my-skills {
    h2 {
      font-family: "League Spartan", sans-serif;
    }
    h3 {
      font-family: "League Spartan", sans-serif;
    }
    p {
      font-family: "League Spartan", sans-serif;
    }
    .tools {
      ul {
        li {
          display: inline;
          margin-right: 1.5rem;
          font-size: 1.5rem;
        }
        .tool {
          transition: all 0.1s linear;
          cursor: pointer;
        }
        .html {
          &:hover {
            color: rgb(204, 85, 51);
          }
        }
        .css {
          &:hover {
            color: rgb(47, 74, 213);
          }
        }
        .javascript {
          &:hover {
            color: rgb(229, 213, 101);
          }
        }
        .sass {
          &:hover {
            color: rgb(186, 105, 147);
          }
        }
        .github {
          &:hover {
            color: black;
          }
        }
        .react {
          &:hover {
            color: rgb(126, 208, 239);
          }
        }
        .bootstrap {
          &:hover {
            color: rgb(79, 60, 116);
          }
        }
      }
    }
  }
  .my-portfolio {
    h2 {
      font-size: 3rem;
      font-family: "League Spartan", sans-serif;
    }
    p {
      line-height: 1.4;
      font-family: "League Spartan", sans-serif;
    }
    // transform: translateY(150px);
    // opacity: 0;
    transition: all 2s ease;
    .container {
      margin-block: 1.5rem;
      padding: 0.5rem 3rem;
      display: grid;
      gap: 1rem;
      grid-template-rows: repeat(3, 20rem);
      article {
        position: relative;
        font-family: "Orbitron", sans-serif;
        .image {
          height: 100%;
          img {
            height: 100%;
          }
        }
        .about-project {
          position: absolute;
          padding: 0.5rem;
          width: 100%;
          height: 100%;
          color: #657b81;
          background: rgba(black, 0.8);
          h3 {
            color: var(--h3);
          }
          p {
            margin-top: 2rem;
            padding: 0.5rem;
            border-radius: 10px;
          }
          span {
            position: absolute;
            bottom: 1.5rem;
            ul {
              list-style-type: none;
              display: flex;
              flex-wrap: wrap;
              gap: 10px;
              li {
                color: var(--tech);
                font-size: 0.6rem;
                border: 1px solid #c3073f;
                padding: 5px;
                border-radius: 20px;
              }
              @media (min-width: 768px) {
                margin-top: 2rem;
              }
            }
          }
          .btns {
            position: absolute;
            bottom: 3px;
            left: 3px;
            button {
              background: none;
              border: none;
              color: var(--btn);
              font-size: 1rem;
              cursor: pointer;
              &:hover {
                color: var(--hover);
                * {
                  color: var(--hover);
                }
              }
              a:visited {
                color: white !important;
              }
            }
            @media (min-width: 768px) {
            }
          }
        }
      }
      @media (min-width: 768px) {
        grid-template-rows: repeat(3, 30rem);
        gap: 2.5rem;
        article {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(5, 1fr);
          position: relative;
          padding: 0.5rem;
          z-index: 1;
          .about-project {
            grid-column: 1 / 4;
            grid-row: 2 / 5;
            border-radius: 5px;
            position: relative;
            z-index: 3;
            margin-left: 1.5rem;
            background: none;
            p {
              background: rgba(black, 0.8);
              a:hover {
                color: #c3073f;
              }
            }
            span {
              position: relative;
            }
            .btns {
              position: relative;
            }
          }
          .image {
            grid-column: 3 / -1;
            grid-row: 1 / -1;
            width: 100%;
            position: relative;
            z-index: 2;
            transition: all 0.3s ease;
            .filter {
              position: absolute;
              inset: 0 0 0 0;
              background-color: rgba(#c3073f, 0.5);
              transition: all 0.3s ease 0.15s;
            }
            img {
              width: 100%;
            }
            &:hover {
              z-index: 4;
              .filter {
                background-color: rgba(#c3073f, 0);
              }
            }
          }
          &.note {
            .about-project {
              grid-column: 5 / 8;
            }
            .image {
              grid-column: 1 / 6;
            }
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  overflow: hidden;
}

.active {
  transform: translateY(0);
  opacity: 1;
}
