.horizontal {
  width: 100%;
  padding: 10px 15px;
  top: -100px;
  transition: all 0.2s ease-in-out;
  position: fixed;
  z-index: 2;
  font-family: "League Spartan", sans-serif;
  .horizontal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 3rem;
      margin-left: 1rem;
      animation: rotate 1.75s ease-in-out infinite;
      -webkit-animation: none;
    }
    .close {
      display: none;
    }
    .links > ul > li, a {
      margin-inline: 20px;
      font-size: 1.25rem;
      text-decoration: none;
      padding: 10px;
      color: var(--font);
      list-style: none;
      display: inline;
      cursor: pointer;
      &:hover {
        color: var(--hover);
        transition: color 0.15s linear;
      }
      &.resume {
        border: 1px solid;
        border-radius: 10px;
        color: var(--hover);
        &:hover {
          background-color: rgba(#f60950, 0.25);
          transition: background-color 0.15s linear;
        }
      }
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 2;
    transition: all 0.5s ease-in;
    overflow: hidden;
    .horizontal-container {
      position: absolute;
      width: 50vw;
      height: 100vh;
      top: 0;
      right: 0;
      flex-direction: column;
      justify-content: space-evenly;
      background: var(--nav-background);
      transform: translateX(100%);
      transition: all 0.2s ease-in-out;
      img {
        margin: initial;
        width: 7rem;
      }
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.vertical {
  position: fixed;
  left: calc(1rem + 5px);
  bottom: 9rem;
  z-index: 2;
  .icon {
    display: flex;
    flex-direction: column;
    span {
      margin-block: 1.5rem;
      cursor: pointer;
      font-size: 1.5rem;
      color: var(--nav-font);
      &:hover {
        color: var(--hover);
        transform: translateY(-0.3rem);
        transition: all 0.15s ease-in-out;
      }
      a {
        color: var(--nav-font);
        &:visited {
          color: var(--nav-font);
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 7.5rem;
    background-color: white;
    bottom: -9rem;
    left: 0.5rem;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.show {
  opacity: 1;
  display: block;
  background-color: rgba(#1a1a1d, 0.5);
  backdrop-filter: blur(20px);
  // .horizontal-container {
  //   transform: translateX(0);
  // }
}

.slide {
  transform: translateX(0) !important;
}

.slide-back {
  transform: translateX(100%) !important;
  @media (min-width: 768px) {
    transform: translateX(0) !important;
  }
}

.blur {
  backdrop-filter: blur(15px);
  background-color: rgba(#1a1a1d, 0.9);
  top: -3px !important;
  box-shadow: 0 3px 5px 0 black;
}

.bar {
  color: var(--font);
  position: fixed;
  right: 0.5rem;
  top: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.15s linear;
  z-index: 3;
  &:hover {
    color: var(--hover);
  }
  @media (min-width: 768px) {
    display: none;
  }
}