@keyframes negative-slider {
  0% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
  25% {
    border-radius: 40px;
  }
  50% {
    left: 67%;
    border-radius: 40px 0 0 40px;
  }
  75% {
    border-radius: 40px;
  }
  100% {
    left: 0;
    border-radius: 0 40px 40px 0;
  }
}

.reveal {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
