:root {
  --background-color: #1a1a1d;
  --nav-background: #1a1a1d;
  --nav-font: #4e4e50;
  --icon: #c3073f;
  --font: #f4f4f4;
  --hover: #f60950;
  --item-background: #c3073f;
  --h3: white;
  --tech: white;
  --btn: white;
  --footer-a: #6f2232;
  --greet-h1: #950740;
  --greet-span: #c3073f;
  --greet-p: #4e4e50;
}

.light-theme {
  --background-color: #e3e2df;
  --nav-background: #a27b5c;
  --nav-font: #2c3639;
  --icon: rgba(208, 44, 74);
  --font: black;
  --hover: #5d001e;
  --item-background: #c3073f;
  --h3: black;
  --tech: white;
  --btn: white;
  --footer-a: #6f2232;
  --greet-h1: #ee4c7c;
  --greet-span: rgba(245, 49, 78);
  --greet-p: black;
}

